.App{
    width: 500px;
    background-color: #7f8fa6;
    color: #192a56;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.timer-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings{
    display: flex;
    justify-content: center;
    width: 100%;
}

.break-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__paragraph{
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 700;
    }
}

.session-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__paragraph{
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 700;
    }
}

.session{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.timer-label{
    width: 100%;
    display: flex;
    justify-content: center;
    &__paragraph{
        font-weight: 700;
    }
}

.time-left{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    background-color: #7f8fa6;
    color: #192a56;
    font-size: 2rem;
    margin: 0px 15px;
    padding: 0 20px;
    outline: none;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: background-color, color, .5s;
}

.btn:hover{
    background-color: #192a56;
    color: #7f8fa6;
}

.icon{
    font-size: 2rem;
    margin: 15px;
    cursor: pointer;
}

.reset-icon{
    transition: .5s;
}

.reset-icon:hover{
    transform: rotate(180deg);
}

.nav{
    &__list{
        list-style: none;
        width: 100%;
       // margin: 10px 5px 10px 0px;
       margin: 0;
       padding: 0;
      //  padding: 8px 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
      //  background-color: #273c75;
    }
    &__link{
        font-weight: 700;
        color:#7f8fa6;
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &__item{
        background-color: #273c75;
        border: 3px solid #273c75;
        flex-grow: 1;
        margin: 0 5px;
        padding: 10px 0;
        transition: 0.5s;
        position: relative;
    }
    &__item:hover{
        background-color: #7f8fa6;
        color: #273c75;
        .nav__link{
            color: #273c75;
        }
    }

 
  /*  &__item::after {
      //  background: #fff;
        background-image: linear-gradient(45deg, #273c75, #fff, #273c75);
        content: "";
        height: 155px;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: z-index .1s;
        transition: left 1s;
        width: 50px;
       // z-index: -10;
    }  */
  /*  &__item::before{
        content: '';
        background-image: linear-gradient(#fff, #000);
        background-size: 100%;
    } */
  /*  &__item:hover {
        &:after {
       //   z-index: 2;
          left: 100%;
          opacity: .5;
        //  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      } */
}

.stopwatch{
    &__header{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.time{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 1px) and (max-width: 500px) {
    .App{
        width: 320px;
    }
    .btn{
        margin: 0 5px;
        padding: 0 10px;
    }
}
